@page "/reports/{id:int}"
@inject IJSRuntime Js
<Card>
    <h1>Report Editor @Id</h1>
</Card>
<Card Style="height: 700px">
    <div id="luckysheet" style="margin:0;padding:0;position:absolute;width:100%;height:100%;left: 0;top: 0;"></div>
</Card>

@code {
    [Parameter]
    public int Id { get; set; }
   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Js.InvokeVoidAsync("luckyLoad.loadDoc",Id);
    }
}