@page "/reports/{id:int}"
@inject IJSRuntime JS
@using Microsoft.Extensions.Logging
@inject ILogger<ReportEditor> Logger 
<Card>
    <h1>Blazor is @id</h1>
    <Button Type="@ButtonType.Primary" OnClick="Save">Save</Button>
</Card>
<Card Style="height: 700px">
    <div id="luckysheet" style="margin:0px;padding:0px;position:absolute;width:100%;height:100%;left: 0px;top: 0px;"></div>
</Card>

@code {
    [Parameter]
    public int id { get; set; }
    //protected override async Task OnInitializedAsync() =>await JS.InvokeVoidAsync("luckyLoad.runJs");//

    public void Todo()
    {
        JS.InvokeVoidAsync("luckyLoad.runJs");
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var report = await new swaggerClient("https://localhost:7103/", new HttpClient()).GetAsync(id);
        await JS.InvokeVoidAsync("luckyLoad.runJs");
    }

    public async Task Save()
    {
        var doc = await JS.InvokeAsync<string>("luckyLoad.getDoc");
    }
}