@page "/reports/{id:int}/view"
@inject IJSRuntime Js
@using Append.Blazor.Printing
@using LuckyReport.Helpers
@using Filter = Microsoft.Office.Interop.Excel.Filter
@using LuckyReport.Shared
@inject IPrintingService PrintingService
@inject LuckyReportHelper LuckyReportHelper
<Card>
    <Filter Title="@title" ReportId="@Id" />
    <Button Type="@ButtonType.Primary" @onclick="Download">下载</Button>
    <Button Type="@ButtonType.Primary" @onclick="Print">打印</Button>
</Card>
<Card Style="height: 700px">
    <div id="luckysheetviewer" style="margin:0;padding:0;position:absolute;width:100%;height:100%;left: 0;top: 0;"></div>
</Card>

@code {
    [Parameter]
    public int Id { get; set; }
    private string? title="父组件";
    public bool Loaded = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //var report = await LuckyReportHelper.SwaggerClient.GetAsync(id);
        if (firstRender)
        {
            await Js.InvokeVoidAsync("luckyLoad.viewDoc", Id);
        }
        
    }
    private async Task<bool> Print()
    {
        await Js.InvokeAsync<string>("luckyLoad.printDoc");
        return true;
    }
    private async Task<bool> Download()
    {
        //var doc = await Js.InvokeAsync<string>("luckyLoad.getDoc");
        var url = await LuckyReportHelper.SwaggerClient.ExcelAsync(Id);
        var fileName = "report.xls";
        //Console.WriteLine(url);
        await Js.InvokeVoidAsync("triggerFileDownload", fileName, url);
        return true;
    }
    
}