@page "/"

@inject IJSRuntime Jsr
@code {
    public void Todo()
    {
        Jsr.InvokeVoidAsync("luckyLoad.runJs");
    }

    public void Save()
    {
        Jsr.InvokeVoidAsync("luckyLoad.save");
    }
}
<Card>
    <Button Type="@ButtonType.Primary" OnClick="Todo">Load</Button>
    <Button Type="@ButtonType.Primary" OnClick="Save">Save</Button>
</Card>
<Card Style="height: 700px">
    <div id="luckysheet" style="margin:0px;padding:0px;position:absolute;width:100%;height:100%;left: 0px;top: 0px;"></div>
</Card>