@page "/"

@inject IJSRuntime Jsr
@code {
    public void Todo()
    {
        Jsr.InvokeVoidAsync("luckyLoad.runJs");
    }

    public void Save()
    {
        Jsr.InvokeVoidAsync("luckyLoad.save");
    }
}
<Card>
    <h1>Welcome to LuckyReport</h1>
    <p>
        Excel演示报表编辑器
    </p>
    <p>
        Get API数据源绑定
    </p>
    <p>
        动态数据元过滤
    </p>
</Card>
<GridRow Gutter="16" Style="margin-top: 10px;">
    <GridCol Class="gutter-row" Span="6">
        <Card Style="height: 120px;">
            <h2>报表数</h2>
            <Space>
                <SpaceItem>
                    <Icon Type="file" Theme="outline" />
                </SpaceItem>
                <SpaceItem>
                    <h1>23</h1>
                </SpaceItem>
            </Space>
        </Card>
    </GridCol>
    <GridCol Class="gutter-row" Span="6">
        <Card Style="height: 120px;">
            <h2>报表数</h2>
            <Space>
                <SpaceItem>
                    <Icon Type="file" Theme="outline" />
                </SpaceItem>
                <SpaceItem>
                    <h1>23</h1>
                </SpaceItem>
            </Space>
        </Card>
    </GridCol>
    <GridCol Class="gutter-row" Span="6">
        <Card Style="height: 120px;">
            <h2>报表数</h2>
            <Space>
                <SpaceItem>
                    <Icon Type="file" Theme="outline" />
                </SpaceItem>
                <SpaceItem>
                    <h1>23</h1>
                </SpaceItem>
            </Space>
        </Card>
    </GridCol>
    <GridCol Class="gutter-row" Span="6">
        <Card Style="height: 120px;">
            <h2>报表数</h2>
            <Space>
                <SpaceItem>
                    <Icon Type="file" Theme="outline" />
                </SpaceItem>
                <SpaceItem>
                    <h1>23</h1>
                </SpaceItem>
            </Space>
        </Card>
    </GridCol>
</GridRow>

<style>
    .gutter-box {
        padding: 8px 0;
        background: #00a0e9;
    }
</style>